@import './fonts/DankMono/stylesheet.css';
/* @import './fonts/Inter/stylesheet.css'; */
@import 'heroicons-css/heroicons.css';
@import './themes.css';

html,
body,
#app {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-secondary opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:text-secondary
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-secondary
  font-size: 0.9em;
}

.shiki {
  font-family: 'Dank Mono';
}

.dank {
  font-family: 'Dank Mono';
}

html.dark .shiki-light {
  font-family: 'Dank Mono';
  display: none;
}

html:not(.dark) .shiki-dark {
  font-family: 'Dank Mono';
  display: none;
}

.twemoji {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
}

/* .add-reaction {
  filter: grayscale(100%);
}

.add-reaction:hover {
  filter: grayscale(0%);
} */

a:active {
  @apply outline-none;
}

a.header-anchor {
  float: left;
  margin-top: .125em;
  margin-left: -1.2em;
  padding-right: .50em;
  font-size: .85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

.prose code {
  font-family: 'Dank Mono';
  font-size: 18px;
}

.prose a {
  @apply transition-colors duration-300 hover:text-secondary;
}

.prose hr {
  width: 50px;
  margin: 2em auto;
}

.prose blockquote {
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  padding: 0.6em 1.2em;
  opacity: 0.8;
}

.prose ul {
  font-size: 18px;
}

.prose ol {
  @apply m-0 p-0;
  font-size: 18px;
}

.prose ol li:before {
  @apply text-primary font-semibold;
}

.prose blockquote > :first-child {
  margin-top: 0;
}
.prose blockquote > :last-child {
  margin-bottom: 0;
}


.prose blockquote p:first-of-type::before {
  content: none;
}

.prose blockquote p:first-of-type::after {
  content: none;
}

.prose h1:focus, 
.prose h2:focus, 
.prose h3:focus, 
.prose h4:focus, 
.prose h5:focus, 
.prose h6:focus {
  @apply outline-none;
}

.prose .markdown-it-code-copy > :first-child {
  @apply text-white opacity-40 text-xl p-2 hover:opacity-80;
}

a.item {
  transition: .2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
}

.highlight-muted {
  background: var(--highlight-primary);
  color: var(--back);
}

.highlight-primary {
  background: var(--highlight-primary);
  color: var(--back);
}

.prose-sm > ul > li > *:last-child {
  margin-bottom: 0;
}

.prose > ul > li > *:last-child {
  margin-bottom: 0;
}

.prose-sm > ul > li > *:first-child {
  margin-top: 0;
}

.prose > ul > li > *:first-child {
  margin-top: 0;
}