@import "./nord";

/*
All themes follow the pattern here:
--back: the element furthest from the user's eyes
--middle: the element second furthest to the user's eyes
--front: the element closest to the user's eyes
--primay: the text that is most common
--secondary: the text that is second most common
--tertiary: the text that is third most common
--accent: the main accent color
*/


html.🐺.dark {
  --back: var(--nord0);
  --middle: var(--nord1);
  --front: var(--nord2);
  --primary: var(--nord5);
  --secondary: var(--nord8);
  --tertiary: var(--nord5);
  --rose: var(--nord11);
  --corn: var(--nord13);
  --grass: var(--nord14);
}

html.🐺 {
  --back: var(--nord6);
  --middle: var(--nord5);
  --front: var(--nord4);
  --primary: var(--nord1);
  --secondary: var(--nord10);
  --tertiary: var(--nord12);
  --rose: var(--nord11);
  --corn: var(--nord13);
  --grass: var(--nord14);
}

html.🧛🏻‍♂️.dark {
  --back: theme('colors.nosferatu');
  --middle: theme('colors.aro');
  --front: theme('colors.vonCount');
  --primary: theme('colors.cullen');
  --secondary: theme('colors.morbius');
  --tertiary: theme('colors.dracula');
  --rose: theme('colors.buffy');
  --corn: theme('colors.lincoln');
  --grass: theme('colors.blade');
  --muted: theme('colors.vonCount');
  --highlight-primary: theme('colors.morbius');
  --highlight-muted: theme('colors.morbius');
}
html.🧛🏻‍♂️ {
  --back: theme('colors.['blue-gray'].50');
  --middle: theme('colors.['blue-gray'].200');
  --front: theme('colors.['blue-gray'].300');
  --primary: theme('colors.['cool-gray'].700');
  --secondary: theme('colors.purple.500');
  --tertiary: theme('colors.orange.500');
  --rose: theme('colors.red.500');
  --corn: theme('colors.amber.400');
  --grass: theme('colors.lime.500');
  --muted: theme('colors.['cool-gray'].500');
}

html.🐧.dark {
  --back: theme('colors.oxford.600');
  --middle: theme('colors.oxford.500');
  --front: theme('colors.oxford.400');
  --primary: theme('colors.caribbean.50');
  --secondary: theme('colors.caribbean.500');
  --tertiary: theme('colors.mango.500');
  --rose: #ff80bf;
  --corn: theme('colors.maiz.500');
  --grass: #1c6b48;
  --muted: theme('colors.oxford.100');
  --highlight-primary: theme('colors.caribbean.500');
  --highlight-muted: theme('colors.caribbean.50');
}

html.🐧 {
  --back: theme('colors.light.300');
  --middle: theme('colors.light.700');
  --front: theme('colors.light.900');
  --primary: theme('colors.oxford.500');
  --secondary: theme('colors.caribbean.500');
  --tertiary: theme('colors.mango.500');
  --rose: #ff80bf;
  --corn: theme('colors.maiz.500');
  --grass: #1c6b48;
}